Sourse: func
Maintainer: Vasyl <bulak.vasyl@lll.kpi>
Section: utils
Priority: optional
Standart-Version: 4.5.0
Build-Depends: debhelper (>= 11)
Package: func
Architecture: arm64
Depends: ${shlibs:Depends}, $(misc:Depends)
Descriorion: Func software
